<!DOCTYPE html>
{% load staticfiles %}
<html>
	<head>
		<title>IPSFA</title>

		<!-- Bootstrap cdn -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/noticias.css' %}">
    <!-- Tipografia -->
    <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
	</head>
		<body>
			<div class="titulo">
				<h1><a href="">IPSFA</a></h1>				
			</div>
  <div class="content container">
        <div class="row">
            <div class="col-md-8">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
		</body>
</html>
    