{% extends "noticias/base/base.html" %}
{% load staticfiles %}
{% block detalle %}
<script  src="{% static 'js/emergentes/jquery-1.8.2.min.js' %}"></script>
	<div class="post" id="detalle">

			<!--<div class="date">{{ post.fecha_publicacion }}</div>-->
		
		<h1><b>{{ post.titulo | upper }}</b></h1>
		<!--template url apunta a la carpeta media -->
		<img src="{% url 'lista_publicaciones'%}media/{{ post.portada }}"/>
		<p> {{ post.fecha_publicacion }} </p>
		<p>	{{ post.texto|linebreaksbr }}</p>
	</div>
	<!--inicio de la galeria-->
<div class="demo-wrapper">
    <!--// Gallery Markup //-->
    <div id="gallery-container">
        <ul class="items--small">
    				{% for notaimg in notaimgs %}    
            <li class="item"><a href="#"><img src="{% url 'lista_publicaciones'%}media/{{ notaimg.imagen }}" /></a></li>
						{% endfor %} 
        </ul>


        </ul>

        <ul class="items--big">
        		{% for notaimg in notaimgs %}
            <li class="item--big">
                <a href="#">
                <figure>
                    <img src="{% url 'lista_publicaciones'%}media/{{ notaimg.imagen }}" />
                    <figcaption class="img-caption">
                        {{ notaimg.nota}}
                    </figcaption>
                </figure>
                </a>
            </li>

            {% endfor %}
        </ul>


<!-- controles del carousel -->        
        <div class="controls">
            <span class="control icon-arrow-left" data-direction="previous"></span> 
            <span class="control icon-arrow-right" data-direction="next"></span> 
            <span class="grid icon-grid"></span>
            <span class="fs-toggle icon-fullscreen"></span>
        </div>
    </div>
    <br><br>
<!-- compartir en redes sociales-->
<span class='st_sharethis_large' displayText='ShareThis'></span>
<span class='st_facebook_large' displayText='Facebook'></span>
<span class='st_twitter_large' displayText='Tweet'></span>
<span class='st_googleplus_large' displayText='Google +'></span>
<span class='st_email_large' displayText='Email'></span>
<span class='st_whatsapp_large' displayText='WhatsApp'></span>
<span class='st_print_large' displayText='Print'></span>
</div>

<!--end demo-wrapper-->

<script  src="{% static 'js/emergentes/plugins.js' %}"></script>
<script src="{% static 'js/emergentes/scripts.js' %}"></script>


<script>
$(document).ready(function(){
 $('#gallery-container').sGallery({
    fullScreenEnabled: true
  });
});
</script>
<!--final de la galeria-->

{% endblock detalle %}

