<br>
  
  <span style="text-align:center; text-indent: 0px;">
    <strong>AFILIACI&Oacute;N DE PERSONAL MILITAR Y SOBREVIVIENTE</strong>
  </span>

<span>
    El Instituto de Previsi&oacute;n Social de las Fuerzas Armadas Nacionales Bolivariana (IPSFA); a trav&eacute;s del SISA, brinda oportunidades de ahorro, pr&eacute;stamos y cr&eacute;ditos a sus afiliados con tasas preferenciales, es por ellos que cuenta con un  departamento de Afiliaci&oacute;n para nuestros personal beneficiado que desee integrar la familia SISA, para su afiliaci&oacute;n Usted deber&aacute; consignar los siguientes recaudos y/o requisitos.
</span>

    <br/>

<strong> Requisitos para la afiliaci&oacute;n del Personal Militar y Sobreviviente</strong>

<br/>

<span style="display: list-item; margin-left: 2em; text-indent: 0%;">
    Planilla de Actualizaci&oacute;n de datos del Sisa.<a href="{% url 'lista_publicaciones'%}media/beneficios/sisa/cdatos_afiliado.pdf" target="_blank"><strong>[Descargar]</strong></a>
</span>

<span style="display: list-item; margin-left: 2em; text-indent: 0%;">
    Copia de carnet y c&eacute;dula de identidad (deben ser legibles y en una misma hoja).
</span>

<span style="display: list-item; margin-left: 2em; text-indent: 0%;">
    Cuenta  financiera de banco fiduciario  (copia de libreta &oacute; copia de cheque).
</span>

<span style="display: list-item; margin-left: 2em; text-indent: 0%;">
    Se descontaran las tres (03) U.T. a trav&eacute;s de la n&oacute;mina/n&oacute;mina pensi&oacute;n. 
</span>

<span style="display: list-item; margin-left: 2em; text-indent: 0%;">
    Copia de cheque o libreta de Ahorro de donde cobra sueldo o pensi&oacute;n (Nº DE CUENTA BANCARIA COMPLETO).
</span>

<span style="display: list-item; margin-left: 2em; text-indent: 0%;">
    Constancia de afiliaci&oacute;n al IPSFA (emitida por la gerencia de bienestar y seguridad social del IPSFA - departamento de afiliaci&oacute;n). 
</span>

<br/>

<strong> Requisitos para la afiliaci&oacute;n del Empleado Civil</strong>

<span style="display: list-item; margin-left: 2em; text-indent: 0%;">
    Planilla de actualizaci&oacute;n de datos del SISA.<a href="{% url 'lista_publicaciones'%}media/beneficios/sisa/cdatos_afiliado.pdf" target="_blank"><strong>[Descargar]</strong></a>
</span>

<span style="display: list-item; margin-left: 2em; text-indent: 0%;">
    Copia de carnet y c&eacute;dula de identidad.
</span>

<span style="display: list-item; margin-left: 2em; text-indent: 0%;">
    Copia  de la cuenta de banco fiduciario, libreta o cheque.
</span>

<span style="display: list-item; margin-left: 2em; text-indent: 0%;">
    Neto a cobrar (planilla de pago).
</span>

<span style="display: list-item; margin-left: 2em; text-indent: 0%;">
    Copia estado de cuenta del banco donde cobra sueldo o pensi&oacute;n (o copia de la libreta o copia de cheque). 
</span>

<br/>

<span style="text-indent: 0%; ">
    <strong> Informaci&oacute;n de Inter&eacute;s</strong>
</span>
    

       <br>

<span style="display: list-item; margin-left: 2em; text-indent: 0%;">
    Para el Personal Militar Activo y Pensionado, que se encuentren afiliados al SISA y posean la Tarjeta de Cr&eacute;dito SISA-BICENTENARIO tendr&aacute;n un inter&eacute;s de 19.92%, <strong>aquellos afiliados que se retiren del SISA ya no pertenecer&aacute;n al convenio SISA-BICENTENARIO y tendr&aacute;n un porcentaje de interes del 29%.</strong>
</span>