<br>
  
  <span style="text-align:center; text-indent: 0px;">
    <strong>AFILIACI&Oacute;N DE PERSONAL JUBILADO</strong>
  </span>

<span>
    El Instituto de Previsi&oacute;n Social de las Fuerzas Armadas Nacionales Bolivariana (IPSFA); a trav&eacute;s del SISA, brinda oportunidades de ahorro, pr&eacute;stamos y cr&eacute;ditos a sus afiliados con tasas preferenciales, es por ellos que cuenta con un  departamento de Afiliaci&oacute;n para nuestros personal beneficiado que desee integrar la familia SISA, para su afiliaci&oacute;n Usted deber&aacute; consignar los siguientes recaudos y/o requisitos.
</span>

<br/>

<strong> Requisitos para la afiliaci&oacute;n del Personal Jubilado:</strong>    

<br/>

<span style="display: list-item; margin-left: 2em; text-indent: 0%;">
    Mantener un saldo m&iacute;nimo en la cuenta SISA de tres (03) unidades tributarias (UT).
</span>

<span style="display: list-item; margin-left: 2em; text-indent: 0%;">
    Ahorro mensual por n&oacute;mina, entre el 5% y el 10% de la pensi&oacute;n (solo aporte del personal jubilado).
</span>

<span style="display: list-item; margin-left: 2em; text-indent: 0%;">
    El saldo disponible, se podr&aacute; retirar cuando lo deseen, excepto las 3UT que  quedan bloqueadas.
</span>    

<span style="display: list-item; margin-left: 2em; text-indent: 0%;">
    Podr&aacute;n ahorrar hasta 20.000 BsF. mensuales aparte de su ahorro mensual, descargando la siguiente planilla y entregandola a los Analistas SISA ubicados en cualquier Sucursal.  
    <a href="{% url 'lista_publicaciones'%}media/beneficios/sisa/planilla_depositomayor_20mm.pdf" target="_blank"><strong>[Descargar]</strong></a>
</span>

<span style="display: list-item; margin-left: 2em; text-indent: 0%;">
    Fotocopia de la c&eacute;dula de identidad y carnet del jubilado en la misma hoja (legibles).
</span>

<span style="display: list-item; margin-left: 2em; text-indent: 0%;">
    Llenar planilla de actualizaci&oacute;n de datos.<a href="{% url 'lista_publicaciones'%}media/beneficios/sisa/cdatos_afiliado.pdf" target="_blank"><strong>[Descargar]</strong></a>
</span>


<span style="display: list-item; margin-left: 2em; text-indent: 0%;">
    Consignar copia del neto de cobro.
</span>

<span style="display: list-item; margin-left: 2em; text-indent: 0%;">
    Tener cuenta financiera (Ahorro o Corriente) en banco fiduciario y asociada al SISA, debe consignar copia de la libreta. 
</span>
    
    </br>
    