<br/>
  
<span style="text-align:center; text-indent: 0px;">
    <strong>PR&Eacute;STAMO VACACIONAL</strong>
</span>

<span  style="display: block; text-indent: 3.0em">
    El Instituto de Previsi&oacute;n Social de las Fuerzas Armadas Nacionales Bolivariana (IPSFA); a trav&eacute;s del SISA, brinda oportunidades de ahorro, pr&eacute;stamos y cr&eacute;ditos a sus afiliados con tasas preferenciales, es por ellos que cuenta con un  departamento de Afiliaci&oacute;n para nuestros personal beneficiado que desee integrar la familia SISA, para su afiliaci&oacute;n, usted deber&aacute; consignar los siguientes recaudos y/o requisitos.
</span>

<br/>

<strong>Requisitos para Solicitar Pr&eacute;stamo</strong>

<br/>

<span style="display: list-item; margin-left: 2em; text-indent: 0%;">
    Las solicitudes deben estructurarse en carpeta amarilla tama&ntilde;o carta.
</span>

<span style="display: list-item; margin-left: 2em; text-indent: 0%;">
    Debe tener m&iacute;nimo un (01) a&ntilde;o afiliado al sistema, su ahorro mensual debe ser superior a seis (06) unidades tributarias.
</span>

<span style="display: list-item; margin-left: 2em; text-indent: 0%;">
    El refinanciamiento de pr&eacute;stamos procede solamente en casos excepcionales, autorizados por la gerencia; posterior a la emisi&oacute;n de un pr&eacute;stamo. Lo subsiguientes podr&aacute;n ser emitidos tres (03) meses despu&eacute;s de haber hecho efectiva la cancelaci&oacute;n del anterior.
</span>

<span style="display: list-item; margin-left: 2em; text-indent: 0%;">
    &Uacute;ltima planilla de pago o neto (sellado por la unidad de pertenencia (avalada por el oficial de personal o jefe de la plana mayor/estado mayor) o el instituto de previsi&oacute;n en el caso del personal retirado).
</span>

<span style="display: list-item; margin-left: 2em; text-indent: 0%;">
    Consignar n&uacute;mero de cuenta banco fiduciario (ACTIVA) asociada al SISA (para ambos pr&eacute;stamos).
</span>

<span style="display: list-item; margin-left: 2em; text-indent: 0%;">
    Estado de cuenta por donde cobra su sueldo o pensi&oacute;n.
</span>

<span style="display: list-item; margin-left: 2em; text-indent: 0%;"> 
    Si es casado, autorizaci&oacute;n del c&oacute;nyuge,  <a href="{% url 'lista_publicaciones'%}media/beneficios/sisa/sisap003.pdf" target="_blank"><b>PLANILLA SISA-P003</b></a> (Para Pr&eacute;stamos Especial).
</span>

<span style="display: list-item; margin-left: 2em; text-indent: 0%;">
    Si el solicitante tiene menos de quince (15) a&ntilde;os de servicio (Para pr&eacute;stamo especial).
</span>

    <span style="display: list-item; margin-left: 4em; text-indent: 0%;">
        <a href="{% url 'lista_publicaciones'%}media/beneficios/sisa/sisap002.pdf" target="_blank"><b>PLANILLA SISA-P-002</b></a> firmada por un fiador de igual o superior categor&iacute;a con quince (15) a&ntilde;os de servicio.
    </span>

    <span style="display: list-item; margin-left: 4em; text-indent: 0%;">
        El fiador puede servir m&aacute;ximo a tres (03) afiliado. 
    </span>

    <br/>

<span  style="display: block; text-indent: 0em">
    <strong>Importante para Ambos</strong>
</span>

<span style="display: list-item; margin-left: 2em; text-indent: 0%;">
    Los requisitos deben ser consignados en una carpeta amarilla tipo carta con gancho y las fotocopias deben ser legibles.
</span>

<span style="display: list-item; margin-left: 2em; text-indent: 0%;">
    El afiliado no debe tener deudas por concepto de pr&eacute;stamo con el SISA al momento de la solicitud.
</span>

<span style="display: list-item; margin-left: 2em; text-indent: 0%;">
    Si el solicitante es pensionado debe consignar una (01) referencia bancaria del Banco Bicentenario y por el Banco donde cobra su pensi&oacute;n.
</span>

<span style="display: list-item; margin-left: 2em; text-indent: 0%;">
    Si el solicitante es activo debe consignar &uacute;ltimo estado de cuenta del Banco BANFANB y Referencia Bancaria del Bicentenario.
</span>
