  <style type="text/css">

.navbar-default {
  background-image: linear-gradient(to bottom,#00345a 0,#00345a 100%);
  border-color:#005696;
  
} 

.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.open>a {
  background: #005696;
  color: white;
}
.navbar-default .navbar-nav > li > a {
  color: #FFF;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  background: #00345a;
  position: relative;
  z-index: 1;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #e8e8e8;
    background-color: #005696;
}

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    background-color: #e8e8e8;
    background-image: -webkit-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);
    background-image: -o-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#e8e8e8));
    background-image: linear-gradient(to bottom,#005696 0,#005696 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
    background-repeat: repeat-x;
}

.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #fff;
    white-space: nowrap;
    background: #00345a;
}

.dropdown-menu > li.kopie > a {
    padding-left:5px;
}
 
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
   top:0;left:100%;
   margin-top:-6px;margin-left:-1px;
   -webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;
 }
  
.dropdown-submenu > a:after {
  border-color: transparent transparent transparent #333;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  content: " ";
  display: block;
  float: right;  
  height: 0;     
  margin-right: -10px;
  margin-top: 5px;
  width: 0;
}
 
.dropdown-submenu:hover>a:after {
    border-left-color:#555;
 }

.dropdown-menu > li > a:hover, .dropdown-menu > .active > a:hover {
  text-decoration: underline;
}  
  
@media (max-width: 767px) {



.navbar-nav  {
  display: inline;
  }



.navbar-default .navbar-brand {
  display: inline;
  }
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
  }
.navbar-default .navbar-nav .dropdown-menu > li > a {
  color: red;
  background-color: #ccc;
  border-radius: 4px;
  margin-top: 2px;   
  }
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #333;
   }
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
  background-color: #ccc;
   }

.navbar-nav .open .dropdown-menu {
  border-bottom: 1px solid white; 
  border-radius: 0;
   }
.dropdown-menu {
  padding-left: 10px;
  }
.dropdown-menu .dropdown-menu {
  padding-left: 20px;
   }
.dropdown-menu .dropdown-menu .dropdown-menu {
  padding-left: 30px;
   }
li.dropdown.open {
  border: 0px solid red;
   }

}
 
@media (min-width: 768px) {
ul.nav li:hover > ul.dropdown-menu {
  display: block;
  }
#navbar {
  text-align: center;
  }
}  

</style>
<script>
var positionLeft = (screen.width)-500;
function funcionarios(){ 

  var alto;
  var ancho;
  
  alto = 600;
  ancho = 540;
  estilo = "toolbar=no, location=no, directories=yes, status=yes, menubar=no, scrollbars=yes, resizable =no, left=" + positionLeft + ", top=0, width=" + ancho + ", height=" + alto;
  
  ventana = window.open("http://192.168.12.172/netosweb/index.php?tipopersonal=civil&Itemid=259", "", estilo);  

}
</script>

<script>
var positionLeft = (screen.width)-500;
function sucursales(){ 

  var alto;
  var ancho;
  
  alto = 600;
  ancho = 540;
  estilo = "toolbar=no, location=no, directories=yes, status=yes, menubar=no, scrollbars=yes, resizable =no, left=" + positionLeft + ", top=0, width=" + ancho + ", height=" + alto;
  
  ventana = window.open("http://201.243.91.158/netosweb/index.php?tipopersonal=pensionado&Itemid=252", "", estilo); 

}
</script>

<script>
var positionLeft = (screen.width)-500;
function sucursalesF(){ 

  var alto;
  var ancho;
  
  alto = 600;
  ancho = 540;
  estilo = "toolbar=no, location=no, directories=yes, status=yes, menubar=no, scrollbars=yes, resizable =no, left=" + positionLeft + ", top=0, width=" + ancho + ", height=" + alto;
  
  ventana = window.open("http://201.243.91.158/netosweb/index.php?tipopersonal=civil&Itemid=259", "", estilo);  

}
</script>

  <nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">IPSFA</a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Inicio</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Institución<b class="caret"></b></a> 
          <ul class="dropdown-menu">
            <li class="dropdown dropdown-submenu">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Aspectos Legales</a>
              <ul class="dropdown-menu">
                <li><a href="#">Consejo Directivo</a></li>
                <li><a href="#">Marco Juridico</a></li> 
              </ul>
            </li>
          <li><a href="#">Contrataciones Publicas</a></li>
          <li><a href="#">Efemerides</a></li>
          <li><a href="{% url 'lista_publicaciones'%}institucion/galeria_de_expresidentes">Galeria de Ex-Presidentes</a></li>
            <li class="dropdown dropdown-submenu">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Organización</a>
              <ul class="dropdown-menu">
                <li><a href="#">Quienes Somos</a></li>
                <li><a href="#">Heraldia del Escudo</a></li>
                <li><a href="#">Himno</a></li>
                <li><a href="{% url 'lista_publicaciones'%}institucion/organizacion/linea_de_mando">Linea de Mando</a></li>
                <li><a href="#">Plan de Transformacion</a></li> 
              </ul>
            <li><a href="{% url 'lista_publicaciones' %}institucion/sucursales">Sucursales</a></li>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Gerencias <b class="caret"></b></a>
          <ul class="dropdown-menu">
          <li><a href="{% url 'lista_publicaciones' %}gerencias/atencion_al_afiliado">Atencion al Afiliado</a></li>
          <li><a href="{% url 'lista_publicaciones' %}gerencias/filiales_y_u_negocio">Filiales y Unds de Negocios</a></li>
          <li><a href="{% url 'lista_publicaciones' %}gerencias/gerencias_internas">Gerencias Internas</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Beneficiarios<b class="caret"></b></a>
          <ul class="dropdown-menu">
          <li><a href="{% url 'lista_publicaciones' %}beneficiarios/afiliacion">Afiliación</a></li>
          <li><a href="{% url 'lista_publicaciones' %}beneficiarios/bienestar_y_seguridad_social">Bienestar y Seguridad Social</a></li>
          <li><a href="{% url 'lista_publicaciones' %}beneficiarios/beneficios_del_trabajador">Beneficios del Trabajador</a></li>
          <li><a href="{% url 'lista_publicaciones' %}beneficiarios/creditos">Credito</a></li>
          <li><a href="{% url 'lista_publicaciones' %}beneficiarios/sisa">SISA</a></li>
          <li><a href="{% url 'lista_publicaciones' %}beneficiarios/inversora">Inversora</a></li>
          </ul>
        </li>
        <li><a href="{% url 'lista_publicaciones' %}contacto">Contactos</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Beneficiarios<b class="caret"></b></a>
          <ul class="dropdown-menu">
          <li><a href="#" onclick="funcionarios()">Fucionarios</a></li>
          <li><a href="#" onclick="sucursales()">Sucursales</a></li>
          <li><a href="#" onclick="sucursalesF()">Fucionarios Sucursales</a></li>
          </ul>
        </li>        
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </nav>
