<br/>

<span style="text-align:center; text-indent: 0px;">
    <b>COMPUTACI&Oacute;N Y ACCESORIOS</b>
</span>

	<br>
    
<span  style="display: block; text-indent: 3.0em">
	Este beneficio ser&aacute; otorgado a los Oficiales activos, Tropa Profesional, afiliados con disfrute de pensi&oacute;n por retiro, invalidez o sobreviviente y el personal empleados y obreros fijos (activos y pensionados) del IPSFA. 
</span>

<br>

<strong>REQUISITOS PARA LA TRAMITACI&Oacute;N DEL CR&Eacute;DITO DE COMPUTACI&Oacute;N & ACCESORIOS </strong>

<br><br>

<span style="display: list-item; margin-left: 2em; text-indent: 0%;">
	Llenar Planilla de Solicitud "Forma CR-PR-F-01-0/Oct-2011". <a href="{% url 'lista_publicaciones'%}media/beneficios/credito/SolicitudPrestamos.pdf" target="_blank">[Descargar]</a>
</span>

<br>

<strong>PROCESO:</strong>

<br><br>
   
<span style="display: list-item; margin-left: 2em; text-indent: 0%;">
    Dirigirse a la Gerencia de Créditos en nuestra sede principal IPSFA o cualquiera de nuestras sucursales IPSFA a nivel nacional. 
</span>
   
<span style="display: list-item; margin-left: 2em; text-indent: 0%;">
	Presentar la Planilla de Solicitud <b><a href="{% url 'lista_publicaciones'%}media/beneficios/credito/SolicitudPrestamos.pdf" target="_blank">"Forma CR-PR-F-01-0/Oct-2011"</a></b>.
</span>
   
<span style="display: list-item; margin-left: 2em; text-indent: 0%;">
	Presupuesto del proveedor autorizado por el IPSFA.
</span>
   