    <br>

<span style="text-align:center; text-indent: 0px;">
    <strong>PARCELAS EN EL CEMENTERIO</strong>
</span>	

	<br>

<span  style="display: block; text-indent: 3.0em">
	Este beneficio ser&aacute; otorgado a los oficiales activos, tropa profesional, afiliados con disfrute de pensi&oacute;n por retiro, invalidez o sobreviviente y el personal empleados y obreros fijos (activos y pensionados) del IPSFA. 
</span>

    <br>

<span  style="display: block; text-indent: 0em">
    <strong>REQUISITOS:</strong>
</span>

    <br>

<span style="display: list-item; margin-left: 2em; text-indent: 0%;">
	Llenar Planilla de Solicitud "Forma CR-PR-F-01-0/Oct-2011". <a href="{% url 'lista_publicaciones'%}media/beneficios/credito/SolicitudPrestamos.pdf" target="_blank">[Descargar]</a>
</span>

	<br>
	
<span style="display: list-item; margin-left: 2em; text-indent: 0%;">
    Tener el expediente del afiliado actualizado.
</span>

    <br>

<span  style="display: block; text-indent: 0em">
    <strong>Observaci&oacute;n:</strong> La planilla deber&aacute; ser impresa en una hoja tama&ntilde;o carta por ambos lados. Las parcelas solamente pueden ser vendidas en cuesti&oacute;n de lo siguiente:
</span>

	<br>

<span  style="display: block; text-indent: 0em">
    <strong>PROCESO:</strong>
</span>

	<br>
    
<span style="display: list-item; margin-left: 2em; text-indent: 0%;">
    Dirigirse a la Gerencia de Créditos en nuestra sede principal IPSFA o cualquiera de nuestras sucursales IPSFA a nivel nacional. 
</span>
   
<span style="display: list-item; margin-left: 2em; text-indent: 0%;">
	Presentar la Planilla de Solicitud <b><a href="{% url 'lista_publicaciones'%}media/beneficios/credito/SolicitudPrestamos.pdf" target="_blank">"Forma CR-PR-F-01-0/Oct-2011"</a></b>.
</span>
   
<span style="display: list-item; margin-left: 2em; text-indent: 0%;">
	Presentar Acta o Certificado de Defunción.
</span>
   
   <br>
   
<span  style="display: block; text-indent: 0em">
    <strong>Nota:</strong> El beneficiario tendrá tres (03) días hábiles después de haber sido otorgada la asignación de la parcela en el cementerio, para dirigirse a la Oficina de Asignación de Parcela en el Cementerio correspondiente y formalizar la compra/venta de acuerdo a la normativa y procedimiento establecido en el presente manual.
</span>

	<br>
   
<span style="text-align:center; text-indent: 0px;">
    <strong>INFORMACI&Oacute;N GENERAL</strong>
</span>

	<br>
    
<span  style="display: block; text-indent: 3.0em">
	La gesti&oacute;n de entrega de "PARCELA DEL CEMENTERIO" debe ser, efectuadas personalmente por el Afiliado Militar o el sobreviviente directo.
</span>

    <br>

<span  style="display: block; text-indent: 3.0em">
	Las parcelas podr&aacute;n ser adquiridas de contado o cr&eacute;dito, en caso que la parcela sea adquirida a cr&eacute;dito, el portador deber&aacute; firmar el formato de AUTORIZACI&oacute;N de descuento, si la adquisici&oacute;n es de contado deber&aacute; cancelar en Cheque de Gerencia a nombre del I.P.S.F.A., el valor vigente para la fecha.  Las parcelas est&aacute;n disponibles las 24 horas, cualquier d&iacute;a de la semana.  Los fines de semana y/o d&iacute;as feriados pueden ser adquiridos en el IPSFA, puesto de Guardia y en las Sucursales o en los Comandos de Guarnici&oacute;n en el Interior de la Rep&uacute;blica.
</span>

    <br>

<span  style="display: block; text-indent: 3.0em">
	Se denomina Fiador calificado a todo Oficial y Tropa Profesional de cualquier categor&iacute;a en situaci&oacute;n de actividad con quince (15) a&ntilde;os o m&aacute;s de servicios, con grado superior al solicitante que no haya sido fiador por este concepto; en caso de ser personal civil, el fiador calificado es todo empleado u obrero fijo con cinco (05) a&ntilde;os o m&aacute;s de antigüedad. 
</span>

    <br>

<span  style="display: block; text-indent: 3.0em">
	El afiliado beneficiario del Cr&eacute;dito de Parcelas de Cementerio, deber&aacute; tener actualizado el expediente en la base de datos de afiliaci&oacute;n del Instituto.
</span>