</br>
<span style="text-align:center; text-indent: 0px;">
    <strong>MEDICINA ESPECIAL</strong>
</span>

<span  style="display: block; text-indent: 3.0em">
	El programa de medicina especial est&aacute; dirigido al personal militar activo o retirado con goce de pensi&oacute;n y sus familiares con derecho que padezcan enfermedades como c&aacute;ncer, HIV, hormona de crecimiento, di&aacute;lisis, pacientes con padecimientos renales, esclerosis m&uacute;ltiple y deben consignar los requisitos que se especifican a continuaci&oacute;n. 
</span>

</br>

<strong>RECAUDOS</strong>

<span style="display: list-item; margin-left: 2em; text-indent: 0%;"> 
    Informe m&eacute;dico elaborado  en formato impreso, donde se especifique el diagn&oacute;stico cl&iacute;nico, nombre del medicamento, dosificaci&oacute;n, nro. de ciclos, peso y talla corporal, avalado por el subdirector m&eacute;dico de los centros de salud militar a nivel nacional., si el afiliado o familiar es tratado en un centro asistencial	privado, deber&aacute; llevar dicho informe al hospital militar m&aacute;s cercano con la finalidad de avalarlo, los informes m&eacute;dicos tienen una vigencia de seis (06) meses.  
</span>

<span style="display: list-item; margin-left: 2em; text-indent: 0%;"> 
    Ficha de Quimioterap&iacute;a (Seg&uacute;n sea el Caso).
</span>

<span style="display: list-item; margin-left: 2em; text-indent: 0%;"> 
    Constancia de autorizaci&oacute;n del afiliado o del familiar con derecho en caso de no retirar él mismo por discapacidad dicha autorizaci&oacute;n.
</span>

<span style="display: list-item; margin-left: 2em; text-indent: 0%;"> 
    Original del carnet vigente del afiliado o del familiar con derecho, para poder retirar la autorizaci&oacute;n. 
</span>

<span style="display: list-item; margin-left: 2em; text-indent: 0%;">     
    R&eacute;cipes M&eacute;dicos en original y copia, avalados por la Red Sanitaria M&iacute;litar. 
</span>

<span style="display: list-item; margin-left: 2em; text-indent: 0%;"> 
    Requisito para ingresar al Programa de Medicina Especial.
    <a href="{% url 'lista_publicaciones'%}media/beneficios/bienestar/requisitosParaIngresarAlSistemaDeMedicinaEspecial.pdf" target="_blank"><b>[Descargar]</b></a>
</span>

<span style="display: list-item; margin-left: 2em; text-indent: 0%;"> 
    Solicitud del Tratamiento de Medicina Especial.
    <a href="{% url 'lista_publicaciones'%}media/beneficios/bienestar/solicitudDeTratamiento.pdf" target="_blank"><b>[Descargar]</b></a>
</span>

    </br>

<span  style="display: block; text-indent: 3.0em">
	Para obtener los beneficios del programa deben dirigirse a la gerencia de bienestar y seguridad social en la planta baja al lado de la cl&iacute;nica odontol&oacute;gica pedir su n&uacute;mero y esperar hacer llamado por la taquilla nro. 11 una vez consignado los requisitos antes mencionados se elabora la autorizaci&oacute;n y se entrega al paciente y este debe dirigirse a BADAN a retirar los medicamentos.
</span>