{% extends "noticias/base/base.html" %}
<style>
.contenedorPlanDeTransformacion{
    font-family: montserrat;
	width:94%;
    margin: auto;
    margin-top: 20px;
	max-width:94%;
	height:60%;
/*	background:red;*/
	padding:16px;
	}
    
#PlanDeTransformacion{
    font-family: montserrat;
	width:95%;
    padding-right: 10px;
    margin: auto;
    color: #000;
	height:auto;
    line-height: 30px;
    font-size: 12pt;
    position:relative;
    text-align: justify;
    border-left: 4px solid #1070b7;
    background:#F7FCFC;
	}
	#PlanDeTransformacion2{
    font-family: montserrat;
	width:95%;
    padding-right: 10px;
    margin: auto;
    color: #000;
	height:auto;
    line-height: 30px;
    font-size: 12pt;
    position:relative;
    text-align: justify;
    border-left: 4px solid #1070b7;
    background:#F7FCFC;
	}

#PlanDeTransformacion h4,p{margin-left:2%;}
#PlanDeTransformacion2 h4,p{margin-left:2%;}

@media screen and (max-width:800px){
#PlanDeTransformacion, #PlanDeTransformacion2 {font-size: 9pt; width: 82%; line-height: 10pt;}

.contenedorPlanDeTransformacion h1{font-size: 12pt; color:#000;}
}
hr {border: 0,1px solid grey; height: 0; width: 100%;}
</style>

<div class="contenedorPlanDeTransformacion">

    <h1 style="color:#1070b7;" align="center"><strong>PLAN DE TRANSFORMACI&Oacute;N 
    <br>(EN REVISI&Oacute;N)</strong></h1>

    <br>

    <div id="PlanDeTransformacion">        
       <h4><strong style="text-align: center" >NUESTRA NUEVA MISI&Oacute;N</strong></h4> 
          <p align="justify">   
       Garantizar la atenci&oacute;n social integral de la poblaci&oacute;n de la Fuerza Armada Nacional Bolivariana, mediante la administraci&oacute;n eficiente de los recursos financieros, destinados a pensiones, prestaciones, cuidado integral de la salud y beneficios socioecon&oacute;micos, que contribuyan a mejorar la calidad de vida del personal militar y sus familiares inmediatos con derecho.</p>
       </div> 
       <br>
  <div id="PlanDeTransformacion2">
      <h4><strong style="text-align: center">NUESTRA NUEVA VISI&Oacute;N</strong></h4>
       <p align="justify"> Ser un instituto innovador de la seguridad social integral, sustentado en los principios de humanismo, solidaridad, cooperaci&oacute;n y equidad al servicio de la poblaci&oacute;n militar y sus familiares, para elevar su calidad de vida.</p>
        
    </div>

    <br>
        
</div>
{% block institucion %}
	<style>
.contenedorPlanDeTransformacion{
    font-family: montserrat;
	width:94%;
    margin: auto;
    margin-top: 20px;
	max-width:94%;
	height:60%;
/*	background:red;*/
	padding:16px;
	}
    
#PlanDeTransformacion{
    font-family: montserrat;
	width:95%;
    padding-right: 10px;
    margin: auto;
    color: #000;
	height:auto;
    line-height: 30px;
    font-size: 12pt;
    position:relative;
    text-align: justify;
    border-left: 4px solid #1070b7;
    background:#F7FCFC;
	}
	#PlanDeTransformacion2{
    font-family: montserrat;
	width:95%;
    padding-right: 10px;
    margin: auto;
    color: #000;
	height:auto;
    line-height: 30px;
    font-size: 12pt;
    position:relative;
    text-align: justify;
    border-left: 4px solid #1070b7;
    background:#F7FCFC;
	}

#PlanDeTransformacion h4,p{margin-left:2%;}
#PlanDeTransformacion2 h4,p{margin-left:2%;}

@media screen and (max-width:800px){
#PlanDeTransformacion, #PlanDeTransformacion2 {font-size: 9pt; width: 82%; line-height: 10pt;}

.contenedorPlanDeTransformacion h1{font-size: 12pt; color:#000;}
}
hr {border: 0,1px solid grey; height: 0; width: 100%;}
</style>

<div class="contenedorPlanDeTransformacion">

    <h1 style="color:#1070b7;" align="center"><strong>PLAN DE TRANSFORMACI&Oacute;N 
    <br>(EN REVISI&Oacute;N)</strong></h1>

    <br>

    <div id="PlanDeTransformacion">        
       <h4><strong style="text-align: center" >NUESTRA NUEVA MISI&Oacute;N</strong></h4> 
          <p align="justify">   
       Garantizar la atenci&oacute;n social integral de la poblaci&oacute;n de la Fuerza Armada Nacional Bolivariana, mediante la administraci&oacute;n eficiente de los recursos financieros, destinados a pensiones, prestaciones, cuidado integral de la salud y beneficios socioecon&oacute;micos, que contribuyan a mejorar la calidad de vida del personal militar y sus familiares inmediatos con derecho.</p>
       </div> 
       <br>
  <div id="PlanDeTransformacion2">
      <h4><strong style="text-align: center">NUESTRA NUEVA VISI&Oacute;N</strong></h4>
       <p align="justify"> Ser un instituto innovador de la seguridad social integral, sustentado en los principios de humanismo, solidaridad, cooperaci&oacute;n y equidad al servicio de la poblaci&oacute;n militar y sus familiares, para elevar su calidad de vida.</p>
        
    </div>

    <br>
        
</div>
{% endblock institucion %}